<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoask.mapper.OrderGoodsShareMapper">
    <resultMap id="order_goods_share_map" type="com.autoask.entity.mysql.OrderGoodsShare">
        <result column="_order_goods_share_id" jdbcType="BIGINT" property="id"/>
        <result column="_order_goods_share_order_goods_id" jdbcType="VARCHAR" property="orderGoodsId"/>
        <result column="_order_goods_share_order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="_order_goods_share_ad_fee" jdbcType="DECIMAL" property="adFee"/>
        <result column="_order_goods_share_ad_type" jdbcType="VARCHAR" property="adType"/>
        <result column="_order_goods_share_ad_id" jdbcType="VARCHAR" property="adId"/>
        <result column="_order_goods_share_handle_fee" jdbcType="DECIMAL" property="handleFee"/>
        <result column="_order_goods_share_handle_id" jdbcType="VARCHAR" property="handleId"/>
        <result column="_order_goods_share_promote_fee" jdbcType="DECIMAL" property="promoteFee"/>
        <result column="_order_goods_share_promote_type" jdbcType="VARCHAR" property="promoteType"/>
        <result column="_order_goods_share_promote_id" jdbcType="VARCHAR" property="promoteId"/>
        <result column="_order_goods_share_factory_fee" jdbcType="DECIMAL" property="factoryFee"/>
        <result column="_order_goods_share_factory_id" jdbcType="VARCHAR" property="factoryId"/>
        <result column="_order_goods_share_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="_order_goods_share_origin_ad_fee" jdbcType="DECIMAL" property="originAdFee"/>
    </resultMap>

    <sql id="order_goods_share_fields">
        order_goods_share.id as _order_goods_share_id, order_goods_share.order_goods_id as _order_goods_share_order_goods_id, order_goods_share.order_id as _order_goods_share_order_id, order_goods_share.ad_fee as _order_goods_share_ad_fee, order_goods_share.ad_type as _order_goods_share_ad_type, order_goods_share.ad_id as _order_goods_share_ad_id, order_goods_share.handle_fee as _order_goods_share_handle_fee, order_goods_share.handle_id as _order_goods_share_handle_id, order_goods_share.promote_fee as _order_goods_share_promote_fee, order_goods_share.promote_type as _order_goods_share_promote_type, order_goods_share.promote_id as _order_goods_share_promote_id, order_goods_share.factory_fee as _order_goods_share_factory_fee, order_goods_share.factory_id as _order_goods_share_factory_id, order_goods_share.create_time as _order_goods_share_create_time, order_goods_share.origin_ad_fee as _order_goods_share_origin_ad_fee
    </sql>

    <update id="updateNoServiceProvider">
        UPDATE order_goods_share
        SET ad_fee = 0.00, ad_type = NULL, ad_id = NULL, origin_ad_fee = 0.00
        WHERE order_id = #{orderId}
    </update>
</mapper>